/* CSS files add styling rules to your content */
body {
  font-family: "Montserrat", sans-serif;
  margin: 2em;
  background-color: #FFFFFF;
}

h1 {
  font-style: bold;
  color: #5e5e5e;
}
a {
  text-decoration: none;
  transition: 0.5s;
}

/* unvisited link */
a:link {
  color: #404040;
}

/* visited link */
a:visited {
  color: #666666;
}

/* mouse over link */
a:hover {
  color: #a6a6a6;
}

/* selected link */
a:active {
  color: blue;
}

.navcontainer {
  width: 120%;
  font-size: 40px;
}

.instagramlogo {
  float: left;
}

.menubar {
  width: 60%;
  text-align: right;
  font-size: 30px;
  padding:5px;
  border:5px;
}

.carousel {
  width: 100%;
  border: 5px;
  padding: 25px;
  background-color: #e5e5e5;
  font-size: 90px;
  position: center;
  text-align: center;
}

.form {
  font-size: 14px;
  text-align: left;
  position: absolute;
  right: 750px;
  top: 420px;
  height: 50x;
  width: 15%;
  font-weight: bold;
}
.submit{
 font-size: 14px;
 right: 850px;
 top: 420px;  
}

.form[type=text]:focus {
  border: 3px solid #555;
  width:15%;
}
#saveForm {
  position: relative;
  top: -43px;
  left: 410px;
}
#search {
  width: 40px;
  height: 20px;
}
.formhead {
  fontsize: 60px;
  text-align: center;
  position: absolute;
  left: 730px;
}
input[type="text"] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
.search{
  position:absolute;
  top: 30px;
  right: 50px;
  length: 80px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  transition: width 0.4s ease-in-out
}
.colorbutton{
  color: black;
}
.abouttext{
 position: absolute;
 bottom: 177px;
 padding: 1px; 
 letter-spacing: 1px;
 font-size: 20px; 
 background-color:#f2f2f2;
}
.abtmore1{
  font-size: 20px;
  text-indent: 50px;
  position: absolute;
  bottom: 40px;
}
.abtmore2{
  font-size: 20px;
  text-indent: 50px;
  position: absolute;
  bottom: -40px;
}
.imgaw{
  width: 20%;
  
}